<div>
    <h2 fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>format_list_bulleted</mat-icon>My Todo list
    </h2>
</div>

<div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button type="button" (click)="createNewTodo()" color="primary">
        <mat-icon>add</mat-icon>&nbsp;Add Todo
    </button>
</div>

<mat-list>
    <!-- template not needed anymore as list is already sorted -->
    <ng-template [ngTemplateOutlet]="todoListItemTemplate" [ngTemplateOutletContext]="{todos:todos}"></ng-template>
</mat-list>

<ng-template #todoListItemTemplate let-todos="todos">
    <mat-list-item *ngFor="let todo of todos" class="mat-elevation-z8 todo-list-item clickable-element" (click)="goToTodoDetail(todo)">
        <mat-icon matListIcon [ngClass]="{'success-color': todo.done}">{{todo.done?'task_alt':'pending_actions'}}
        </mat-icon>
        <h3 matLine> <span [ngClass]="{'crossed-out': !todo.done}">{{todo.title}}</span> 
            <mat-checkbox class="todo-checkbox" (click)="toggleTodoState(todo); $event.stopPropagation()" [checked]="todo.done"></mat-checkbox>
        </h3>
        <div mat-line class="state-indicator">State : {{todo.done?'Done':'Undone'}}</div>
    </mat-list-item>
</ng-template>

